<div id="tab1" class="w3-container  city">
    <div class="set-container">
        <div class="container-contact100">
            <form class="contact100-form validate-form" asp-action="AddPost" method="post" id="addPostForm">
                <span class="contact100-form-title">
                    Post Your Question
                </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <label class="label-input100" asp-for="Title">Your Question</label>
                    <input class="input100" type="text" name="name" asp-for="Title" placeholder="Enter your Question ">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input200 validate-input" data-validate="Category is required">
                    <div class="dropdown">
                        <button class="dropbtn">Category</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <label class="label-input100" asp-for="Content">Desciption</label>
                    <textarea class="input100" name="message" asp-for="Content" placeholder="About Question..."></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
        <div id="dropDownSelect1"></div>
    </div>
</div>

