



@model OneMits.Models.Search.SearchModel




    <span class="input-ur">
        User Detail
    </span>


    <div id="tab2" class="w-container  city">
        <div class="set-container">

            <div class="row">
                <div class="col-md-6">
                    <p class="input-user">0901IT171031</p>
                </div>
                <div class="col-md-6" style="float: right">
                    @*@if (User.IsInRole("Admin"))
                        {
                            <a class="like-style float-r" asp-controller="Question" asp-action="Delete" asp-route-id="@Model.QuestionId">*@
                    <i class="fa fa-trash" style="font-size:20px;"></i>
                    
                    @*}*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p class="pro-admin">Name : Nishant Raghuvanshi</p>
                </div>
                <div class="col-md-4">
                    <p class="pro-admin">UserRate : 45</p>
                </div>
                <div class="col-md-4">
                    <p class="pro-admin">Member Since : 24/10/1545</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="pro-admin">Email : user@gamail.com</p>
                </div>
                <div class="col-md-4">
                    <p class="pro-admin">Late Seen : 10.30</p>
                </div>
            </div>
        </div>
    </div>



    <div class="noPosts">
        <h3>
            No search Results found for <br />
        </h3>
    </div>


@section Scripts{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}






