<div id="tab1" class="w3-container  city">
    <div class="set-container" style="background-color: #F2BABA; width: 1330px">
        <div class="row">
            <div class="col-md-9">
                <div class="container-forum">
                    <form class="contact100-form validate-form">
                        <span class="contact100-forum-title" style="font-size: 30px;">
                            <a href="#">Topic</a>
                        </span>

                        <span class="label-input100">Number Of Post : 4</span>
                        <p class="input-fr"></p>
                    </form>
                </div>
                <div id="dropDownSelect1"></div>
            </div>
            <div class="col-md-3">
                <form class="Search-forum">
                    <input type="text" name="search" placeholder="Search..">
                </form>
                <button class="button-add button-mar"><a href="createforum.html"><span>Add Post</span></a></button>
            </div>
        </div>
    </div>

</div>

@if (Model.Posts.Any())
{
    @foreach (var post in Model.Posts)
    {
        <div id="tab1" class="w3-container  city">
            <div class="set-container">
                <div>
                    <p class="question">
                        <a href="postview.html">
                            Your algorithm needsSpace Efficiency-How much extra memory ?
                        </a>
                    </p>
                </div>
                <div>
                    <p class="by-part">By - <a href="profile.html" class="take-part">Nishant Raghuvanshi</a></p>
                </div>
                <div class="margin"> </div>

                <div class="share">
                    <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                    <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> 5 Min Ago</a>
                    <a target="_blank"><i class="fa fa-comment" style="font-size:25px;"></i> 5 Answer</a>

                    <a href="#" target="_blank">
                        <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                        <p href="#" class="sbutton">Share</p>
                    </a>
                </div>


            </div>
        </div>
    }
        <button class="btn-re" style="margin-left: 600px">More Post</button>


    }